<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.TodoDAO">
	<select id="getTodoList" resultType="TodoDTO">
		SELECT * FROM todolist
		ORDER BY id
	</select>
	
	<insert id="insertTodoList" parameterType="TodoDTO">
		INSERT INTO todolist(id, todoname)
		VALUES(todo_id_seq.nextval, #{todoname})
	</insert>
	
	<update id="updateTodoList" parameterType="TodoDTO">
		UPDATE todolist
		SET completed = #{completed}
		WHERE id=#{id}
	</update>
	
	<delete id="deleteTodoList" parameterType="int">
		DELETE FROM todolist
		WHERE id=#{id}
	</delete>
	
</mapper>
